<ion-header [translucent]="true">
  
</ion-header>

<ion-content class="backg" [fullscreen]="true">

  <!--cabecalho-->
  <div class="fundo" >
    <ion-row >
      <ion-grid size="3" >
        <img src="assets/img/logo.png" />
      </ion-grid>
      <ion-grid size="9" >
        <h3>Jamil José Dahas 142</h3>
      </ion-grid>
    </ion-row>
  </div>
  <!--btn menu-->
  <div class="fundo icone" > 
    <!--
    <p style="text-align: center !important;" ><ion-icon style="font-size: 40px !important;"  name="menu" ></ion-icon></p>
    -->
    <ion-buttons slot="start">
      <ion-menu-button  ></ion-menu-button>
    </ion-buttons>
  </div>
  
  <!--corpo  -->
  <ion-card>
    <img src="assets/img/logo.png" />
    <ion-card-header>
      <ion-card-subtitle>Sub Titulo (opcional)</ion-card-subtitle>
      <ion-card-title>Titulo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="assets/img/logo.png" />
    <ion-card-header>
      <ion-card-subtitle>Sub Titulo (opcional)</ion-card-subtitle>
      <ion-card-title>Titulo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!-- RODAPÉ -->
<ion-row class="rodape" >
  <img src="assets/img/logo.png" width="70px" height="70px"/>
  <img src="assets/img/dmbrasil.png" width="125px" height="70px"/><br>
  <p>© 2021 Jamil José Dahas 142 | NºCap:142 - CEP: 66025-230 Belém-PA  </p>
</ion-row>

</ion-content>
